# Zammad
ZAMMAD_URL=http://103.251.252.55:8080
ZAMMAD_TOKEN=""

# Zabbix
ZABBIX_URL=http://103.251.252.69/api_jsonrpc.php
ZABBIX_USER=Admin
ZABBIX_PASSWORD=zabbix

# Ansible
INVENTORY_PATH=/home/ubuntu/zammad-playbooks/inventory.ini
PLAYBOOK_DIR=/home/ubuntu/zammad-playbooks
PLAYBOOK_NAME=check_and_clean_disk.yml

# Behavior
PROCESSED_TAG=automation-processed
L2_GROUP_NAME=L2-Support
L1_GROUP_NAME=L1-Support
PROCESSED_EVENTS_FILE=/home/ubuntu/zammad-automation/processed_zabbix_events.json

# Logging
LOG_DIR=/home/ubuntu/zammad-automation/logs
LOG_LEVEL=INFO


